html, body {
                width: 100vw;
                height: 65vh;
                margin: 0;
                padding: 0;
                background-color: #000000;
            }

div{
    width: inherit;
    height: 75vh;
    background-color: white;
}
.disabledbutton{
    pointer-events: none;
    opacity: 0.4;
    background-color: red;
}
video{
    width: inherit;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -50vh 0;
}
.video-container{
    height: 100vh;
    background-color: red;
}
.video-container > *{
    height: inherit;
}

button{
    position: relative;
    z-index: 10;
    background: linear-gradient(-90deg, rgba(124, 124, 124, 0) 0%, rgb(90, 90, 90) 95%);
    border: none;
    height: inherit;
    width: 10vw;
    opacity: 0.5;
    transition: all linear 0.2s;
}
button.left{
    background: linear-gradient(-90deg, rgba(124, 124, 124, 0) 0%, rgb(90, 90, 90) 95%);
}
button > img{
    scale: 0.65;
}
button.left > img{
    rotate: 180deg;
}
button.right{
    background: linear-gradient(90deg, rgba(124, 124, 124, 0) 0%, rgb(90, 90, 90) 95%);
}
button:hover{
    opacity: 1;
}



#forward-video{
    z-index: 1;
}
.infodiv{
    display: block;
    width: 100vw;
    height: 100px;
    background-color: black;
    color: white;
    position: relative;
    top: 0;
    z-index: 1000;
}
#videoTime, #currentIndex, #nextIndex, #prevIndex{
    background-color: black;
    color: white;
    height: 10px;
    padding-top: 10px;
}
#black-fade{
    position: absolute;
    height: inherit;
    top: 0;
    left: 0;
    background: black;
    opacity: 1;
    z-index: 2;
    transition-property: all;
    transition: all linear 0.5s;
}
#black-fade.transition{
    opacity: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}